doctype html
html 
    head 
        title #{pageTitle}
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/admin/css/styte.css")
        link(rel="stylesheet", href="/admin/css/product-detail.css")

    body 
        include ../partials/header.pug
        
        .body
            include ../partials/sider.pug

            .main
                block main

        script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js")

        //- tinymce

        <script src="https://cdn.tiny.cloud/1/qbnj5y79zceev5neyc5r1wyqmxr3jwss8uwqc2uovg20hbzo/tinymce/8/tinymce.min.js" referrerpolicy="origin" crossorigin="anonymous"></script>
        script(src="/admin/js/tinymce-config.js") 

        script(src="/admin/js/script.js") 

